<h4 style="margin-top: 20px;">Dashboard</h4>
<%#= link_to "Add User", new_user_path , class: "btn btn-primary"%>
<%#= link_to "Add Article",new_article_path , class: "btn btn-primary"%>
<div class="container">
	<div class="row">
      <div class="col-sm-4 i_center">
      	<% @article.each do |article| %>
		  <div class="card mb-3 " style="width: 18rem;">
	     <%#=image_tag(article.avatar) if article.avatar.attached?%>
	      <div class="card-body">
		       <h5 class="card-text"><%= article.title %></h5>
		       <p class="card-text"><%= h truncate(article.description, :length => 50)%></p>
		       <% if article.user.present?%>
		       <b class="card-text">Created By : <%=article.user.name %></b>
		       <% end %><br><br>
		        <%= link_to "View",article_path(article),class:"btn btn-primary",style: "width: 150px;margin-left:20px;margin-bottom:20px;"%>&nbsp;
	      </div>
      </div>
     <% end %>
    </div>
		</div>
	</div>
</div>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @article %>
    </div>
    <%= will_paginate @article, :container => false %>
  </div>





